.mainContainer {
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.searchButton {
  height: 18px;
  cursor: pointer;
  background-color: aliceblue;
  border: none;
  border-radius: 2px;
}
.pictures {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
.temp {
  display: flex;
  justify-content: center;
  color: black;
  font-size: x-large;
}
